obj
bin
deploy
deploy/*
_NCrunch_Server
_ReSharper.*
*.ncrunchsolution.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.teamcity.user
*.TeamCity.user
*.resharper
*.DotSettings.user
*.dotsettings.user
*.ncrunchproject
*.ncrunchsolution
*.suo
*.cache
*.orig
~$*
azure_service_bus_connection_string.txt